In [9]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [6]:
# Create a NumPy array with 20 random integers between 1 and 100

arr = np.random.randint(1, 101, size=20)
# Display the NumPy array
print(arr)

[32 65  1 87 97 24  1 28 11 61 16 61 71 72 46 30  3 38 52 26]

In [7]:
# 1. Find the sum of all elements
# The np.sum() function computes the sum of all elements in the array.

sum = np.sum(arr)

print(sum)

822

In [8]:
# 2. Find the maximum and minimum values in the array
# np.max() returns the maximum value and np.min() returns the minimum value in the array.

max = np.max(arr)
min = np.min(arr)

print(max)
print(min)

97
1

In [20]:
# 1. Create a DataFrame with 5 rows and 3 columns of random numbers
# The DataFrame is generated from a 5x3 matrix of random integers between 1 and 100.


arr_df = np.random.randint(1, 101, size=(5, 3))

data_frame = pd.DataFrame(arr_df, columns=['A', 'B', 'C'])

# Display the DataFrame
print(data_frame)

    A   B   C
0   3   5  42
1  16  38  19
2  41  77  70
3  26  80  12
4  97  84  68

In [21]:
# 2. Compute the sum of each column
# The .sum() function computes the sum for each column in the DataFrame.

col_a = data_frame['A'].sum()
col_b = data_frame['B'].sum()
col_c = data_frame['C'].sum()

print(col_a)
print(col_b)
print(col_c)

183
284
211

In [23]:
# 3. Compute the mean of each column
# The .mean() function computes the mean (average) of each column in the DataFrame.
col_avg_a = data_frame['A'].mean()
col_avg_b = data_frame['B'].mean()
col_avg_c = data_frame['C'].mean()
print(col_avg_a)
print(col_avg_b)
print(col_avg_c)

36.6
56.8
42.2