# Python Programming Assignments-Conditional


## Assignment 1: Basic If-Else Statement

**Task:** Write a Python program that asks the user to input their age and prints whether they are eligible to vote (18 years or older) or not.

In [8]:
age = int(input("Enter your age : "))
if age >= 18:
  print("eligible to vote")
else:
  print("not eligible to vote")

Enter your age : 19
eligible to vote

## Assignment 2: Nested If-Else

**Task:** Write a Python program that checks if a user’s input number is positive, negative, or zero.
- If the number is positive, print 'Positive Number'
- If the number is negative, print 'Negative Number'
- If the number is zero, print 'Zero'

In [14]:
num = int(input("Enter a number : "))

if num > 0:
  print(f"Positive Number")
elif num < 0:
  print("Negative Number")
else:
  print("Zero")

Enter a number : -4
Negative Number

## Assignment 3: Conditional Expressions

**Task:** write a program to determine if a number entered by the user is even or odd. The program should print 'Even Number' or 'Odd Number' based on the input.

In [11]:
num = int(input("Enter a number : "))

if num % 2 == 0:
  print("Even Number")
else:
  print("Odd Number")

Enter a number : 5
Odd Number

## Assignment 4: Age Group Classification

**Task:** Write a Python program that takes the user’s age and prints which age group they belong to:
- 'Child' for age 0–12
- 'Teenager' for age 13–19
- 'Adult' for age 20–64
- 'Senior' for age 65 and above

In [19]:
age = int(input("Enter your age : "))

if age <= 12:
  print("Child")
elif age <= 19:
  print("Teenager")
elif age <= 64:
  print("Adult")
else:
  print("Senior")

Enter your age : 32
Adult

# Python Programming Assignments - Loops and Functions

## Assignment 1: Sum of Natural Numbers

**Task:** Write a Python function `sum_of_natural_numbers(n)` that returns the sum of all natural numbers up to `n`. Use a loop inside the function.

In [23]:
def sum_of_natural_numbers(n):
  sum = 0
  for i in range(1 , n+1):
    sum +=i
  print(sum)

sum_of_natural_numbers(4)

10

## Assignment 2: Factorial of a Number

**Task:** Write a Python function `factorial(n)` that calculates and returns the factorial of `n`. Use a loop to calculate the factorial.

In [30]:
def factorial(n):
  fact = 1
  for i in range(1 , n+1):
    fact *=i
  print(fact)
factorial(900)

67526802209645841583879061361800814224269427869589384312198268703685091643180416969132446952698303794226010370578672908593198347699886928591906501031587651846976759681112609524787093848004428636186893395272784450630354080243217646658024696659065951793757223520229235577548653833681102170973893746054649126415909143150172860721156685810655759230011450132992176454983227538696340112610447029002337004887877266387704586077293585433151612518800147764461182680822867092786694982831838641800997499819339206579415325649748486265233918911087114592440896594062675914294925816719862178374679272092637524786939036290035924271782253738059886933923447877769583003016705363339031413069155837518524761078342052635475632113169618774549275701480106933362990003732589370593557325299434734459295866728988740794174654391479926000848846686708729736713207285203712732201272410830836913052635365082888725171636081587151603468291106754640398232146673627370895934090777828827549554232436190464827998683927179246029919443251026464452337939599198528297828591122689960620361238248313158071643395848405047261412680039877733761849874447323867911712630023171745968278465780558568067035013885275080292137360491875164947724464221693533755035300065350065137490832039523382963747026185653050331832380991844842560750923543775188582096487476950254418365198999674684417286265442786651594404781622946901879166382930714196908227460133027605817864877377712193142137625430353718448269390732615776645283198828602917680224041088993892610506802195917247838900106910698057030379190571057605849323113308634452008179881165616449767648354161225066967961297609698742737923389391615207441152319392845687673311899247085327703421862972871644495409572259985563215471482083325653231777113271326579970310755604973969708949477374254974480294652427022436705380184064008853457214518515270985563195412993145274057688634448812449445800617631162768243125606424844709372022149908463572254912654907763445758543980999149122998104378965626781898655221443263601405152073199706585080288735040205417371277253096243200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

## Assignment 3: Multiplication Table

**Task:** Write a Python function `multiplication_table(n)` that prints the multiplication table of `n` up to 10.

In [35]:
def multiplication_table(n):
  for i in range(1 , n+1):
    for j in range(1 , 11):
      print(f"{i} X {j} = {i * j}")

    print("__________________")


multiplication_table(10)

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
__________________
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
__________________
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
__________________
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
__________________
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
__________________
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
__________________
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
__________________
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
__________________
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
__________________
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
__________________