In [ ]:
# 1. Create variables for your name, age, and favorite color, then print them with descriptive labels.

name = "Tasnimul"
age = 23
favorite_color = "red"

print("Name: "+name+"\nAge :"+str(age)+"\nFavorite Color: "+favorite_color)

Name: Tasnimul
Age :23
Favorite Color: red

In [ ]:
# 2. Create one variable of each type and use the type() function to verify its type.
name = "Tasnimul"
age = 23
favorite_color = "red"
month = 1.5

print(type(name))
print(type(age))
print(type(favorite_color))
print(type(month))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
# 3. Calculate the area and perimeter of a rectangle with length 7 and width 5.
length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)

print("Area: "+str(area)+"\nPerimeter: "+str(perimeter))

Area: 35
Perimeter: 24

In [ ]:
# 4. Create a list of 5 Bangladeshi foods, then access the first and last elements.

bd_foods = ["mango","bananas","grape","litchi","orange"]

print(bd_foods[0])
print(bd_foods[-1])
#or
print(bd_foods[len(bd_foods)-1])

mango
orange
orange

In [ ]:
# 5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.

numbers = [1,2,3,4,5]

numbers.append(6)
print(numbers)

numbers.remove(1)
print(numbers)

[1, 2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

In [ ]:
# 6. Create a dictionary about yourself with at least 4 key-value pairs.

my_self = {
    "name" : "Tasnimul",
    "Age" : 23,
    "versity" : "SUB",
    "address" : "Narayangonj",

}

print(my_self)

{'name': 'Tasnimul', 'Age': 23, 'versity': 'SUB', 'address': 'Narayangonj'}

In [ ]:
# 7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.

lat_ton = (23.68,90.35)

print(lat_ton)

(23.68, 90.35)

In [ ]:
# 8. Create two sets of colors and find their union and intersection.

color1 = {"red","green"}
color2 = {"blue","gray","red"}

print(color1 | color2)
print(color1 & color2)

{'green', 'gray', 'blue', 'red'}
{'red'}

In [19]:
# 9. Write a Python function that takes a string as input and prints the first and last character of the string.

name = "Tasnimul"

print(name[0])
print(name[-1])

T
l

In [21]:
# 10. Write a Python function that takes a string and converts it to uppercase.

name = "Tasnimul Hasan"

print(name.upper())

TASNIMUL HASAN